<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bradley C. Wojcik</title>
  </head>
  <body>
    <section class="hero is-fullheight">

      <!-- hero header -->
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <span class="navbar-burger burger" #navBurger data-target="navbarMenu" (click)="toggleNavbar()">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenu" class="navbar-menu" #navMenu>
              <div class="navbar-end">
                <span class="navbar-item">
                  <a class="button is-small is-primary" target="_blank" href="https://github.com/bradleycwojcik">
                    <span class="icon">
                      <i class="fab fa-github"></i>
                    </span>
                    <span>GitHub</span>
                  </a>
                </span>
                <span class="navbar-item">
                  <a class="button is-small is-primary" target="_blank" href="https://twitter.com/bradleycwojcik">
                    <span class="icon">
                      <i class="fab fa-twitter"></i>
                    </span>
                    <span>Twitter</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <!-- hero body -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Bradley C. Wojcik
          </h1>
          <p class="subtitle">
            Developer and <strong>Designer</strong>
          </p>
          <span class="tag is-primary is-medium">
            <span>Site under construction</span>
            <span class="icon">
                <i class="fas fa-hammer"></i>
            </span>
          </span>
        </div>
      </div>

      <!-- hero footer -->
      <div class="hero-foot pads">
        <div class="container has-text-centered">
          <span>&copy; {{this.year}} Bradley C. Wojcik</span>
        </div>
      </div>
    </section>
  </body>
</html>

<router-outlet></router-outlet>