<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Bradley C. Wojcik
          </h1>
          <p class="subtitle">
            Developer and <strong>Designer</strong>
          </p>
          <span class="tag is-primary">
            <span>Site under construction</span>
            <span class="icon">
                <i class="fas fa-hammer"></i>
            </span>
          </span>
        </div>
      </div>
    </section>
  </body>
</html>

<router-outlet></router-outlet>